  <%= render 'debate_card', debate: @debate %>
  <div class="row">
    <div class="large-12 small-12 columns">
      <div class="debate-content">
        <p><%= @debate.content %></p>
      </div>
    </div>
    <hr>  
  </div>
  <div class="row" >
    <div class="small-12 columns">
      <ul class="debate-positions small-block-grid-2 large-block-grid-2">
        <li class="affirmative-content" id="debateAffirmative">
          <h5><%= @debate.affirmative %></h5>
        </li>
        <li class="negative-content" id="debateNegative">
          <h5><%= @debate.negative %></h5>
        </li>
      </ul>    
    </div>
    <hr>
  </div>