  <div class="row" >
    <div class="large-6 columns" id="PostToAffirmative">
      <a href=<%= new_argument_post_path(debate_id: @debate.id, position: "affirmative", type: "OriginalPost") %> class="button expand">Post to the Affirmative</a>
    </div>
    <div class="large-6 columns" id="PostToNegative">
      <a href=<%= new_argument_post_path(debate_id: @debate.id, position: "negative", type: "OriginalPost") %> class="button expand">Post to the Negative</a>
    </div>
  </div>