<table id="debate_list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Chamber</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @debates.each do |debate| %>
      <tr>
        <td><%= link_to "#{debate.title}", debate_path(debate) %></td>
        <td><%= link_to "#{debate.user.name}", user_path(debate.user_id) %></td>
        <td><%= link_to "#{debate.chamber.name}", chamber_path(debate.chamber) %></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>