<div class="large-12 small-12 columns">
  <div class="row debates">
    <div class="large-9 small-12 columns">
      <ul>
        <% @debates.each do |debate| %>
          <%= render 'debates/debate_card', debate: debate %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
