	    <div class="panel" >
	   	  <div class="secondary label author" >
	        <%= position_post.user.name %>
	      </div>
	      <div class="argument_post" >
	      	<p><%= position_post.content %></p>
	      </div>
	    </div>