	    <div class="panel argument_post" id=<%= argument_post.id %> >
	   	  <div class="secondary label author" >
	        <%= argument_post.user.name %>
	      </div>
	      <div class="comment_body"  >
	      	<p><%= argument_post.content %></p>
	      </div>
	      <%= render 'argument_posts/argument_post_links', argument_post: argument_post %>
	    </div>