<% if vote_value === 1 %>
  <% if clicked === true %>
    <div class="vote upvote clicked">
  <% else %>
    <div class="vote upvote unclicked">
  <% end %>
<% else %>
  <% if clicked === true %>
    <div class="vote downvote clicked">
  <% else %>
    <div class="vote downvote unclicked">
  <% end %>
<% end %>
  <% if vote_value === 1 %>
  <%= link_to '<i class="fa fa-arrow-up fa-2x"></i>'.html_safe, votes_path(vote: { user: current_user, votable_id: votable.id, votable_type: votable.vote_type, value: vote_value}), method: :post, remote: true %> 
  <% else %>
  <%= link_to '<i class="fa fa-arrow-down fa-2x"></i>'.html_safe, votes_path(vote: { user: current_user, votable_id: votable.id, votable_type: votable.vote_type, value: vote_value }), method: :post, remote: true %> 
  <% end %>
</div>