
<div class="vote upvote"><a href=#><i class="fa fa-arrow-up fa-2x"></i></a></div>
<div class="debate-score"><%= debate.score %></div>
<div class="vote downvote"><a href=#><i class="fa fa-arrow-down fa-2x"></i></a></div>